<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후</title>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <button>
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=c8914824e8ffa0e7cc907db02bc8ba4b&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin%2Fkakao&response_type=code" class="btn btn-third active" role="button">Kakao Login</a>
                </button>
            </div>
        </div>
    </div>
</head>
<body>

</body>
</html>
